:root[data-theme="light"] {
  --default-color: #38383D;
  --background-primary-color: #FFFFFF;
  --background-secondary-color: #F9F9FA;
  --separator-color: #E0E0E2;
}

:root[data-theme="dark"] {
  --default-color: #B1B1B3;
  --background-primary-color: #232327;
  --background-secondary-color: #18181A;
  --separator-color: #38383D;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: var(--separator-color);
  color: var(--default-color);
}

.simple {
  margin: 75px auto;
  width: max-content;
}

a {
  color: inherit;
}
